.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.overlay {

  border:'1px red solid';
  opacity: 0.2;
}

.heatmap {

  opacity: 0.2;
}

.react-calendar-heatmap text {
  font-size: 10px;
  fill: #aaa;
}

.react-calendar-heatmap .react-calendar-heatmap-small-text {
  font-size: 5px;
}

.react-calendar-heatmap rect:hover {
  stroke: #555;
  stroke-width: 1px;
}

/*
 * Default color scale
 */

.react-calendar-heatmap .color-empty {
  fill: #eeeeee;
}

.react-calendar-heatmap .color-filled {
  fill: #8cc665;
}



/*
 * Gitlab color scale
 */

.color-gitlab-0 {
  fill: #ededed;
}
.color-gitlab-1 {
  fill: #acd5f2;
}
.color-gitlab-2 {
  fill: #7fa8d1;
}
.color-gitlab-3 {
  fill: #49729b;
}
.color-gitlab-4 {
  fill: #254e77;
}
.color-gitlab-17 {
  fill: #ff0000;
}


@for $i from 0 to 100 {
  .color-gitlab-#{$i} {
    fill: rgba( #ff0000, $i/10 )
  }
}



